<div class="my-3 mx-auto w-100 box">
  <div class="row mx-auto text-light p-2 pl-3 bg-secondary">
    <b>NOTIFICATIONS</b>
  </div>

  <div class="row mx-auto p-2">

    <!-- Notification 01 -->
    <div class="card w-100">
      <div class="card-body">
        <h3 class="card-title text-bo">
          Notification 01
        </h3>
        <h6 class="card-text">
          Text something . . . . . . . . . . . . . . . . . 
          <br>. . . . . . . . . . . . . . . . .. . . . . . .
        </h6>
      </div>
    </div>

    <!-- Notification 02 -->
    <div class="card w-100">
      <div class="card-body">
        <h3 class="card-title text-bo">
          Notification 02
        </h3>
        <h6 class="card-text">
          Text something . . . . . . . . . . . . . . . . . 
          <br>. . . . . . . . . . . . . . . . .. . . . . . .
        </h6>
      </div>
    </div>
  </div>
</div>